@import url('https://fonts.cdnfonts.com/css/hyperjump');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    /*Padding é para por espaçamento interno em um elemento*/

    margin: 0;
    /*Margin é para por espaçamento externo em um elemento*/

    box-sizing: border-box;
    font-family: "Istok Web", sans-serif;

    list-style: none;
    text-decoration: none;

}

:root {
    --preto: #0000;
    --branco: #fff;
    --roxoPrincipal: #6116DB;
    --roxoEscuro: #290D57;
    --roxoMeioescuro: #3D1185;
    --roxoMeio: #5015AF;
    --roxoMeioprincipal: #5F1ACF;
    --roxoClaro: #7E39EE;
    --laranjaPrincipal: #F4870C;
    --laranjaEscuro: #683F10;
    --laranjaMeioescuro: #8D5718;
    --laranjaMeio: #B16C1D;
    --laranjaMeioprincipal: #D78528;
    --laranjaClaro: #F5B061;
}


/* SESSAO HEADER */
.header_roxo {
    height: 55px;

    background-color: var(--roxoPrincipal);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sociais_header {
    width: 300px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-left: 50px;
}

.sociais_header>svg {
    width: 40px;
}

.header_roxo>button {
    height: 80%;
    width: 150px;

    border: none;
    border-radius: 10px;

    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    background-color: #F4870C;
    text-transform: uppercase;

    margin-right: 50px;
}

.header_laranja {
    height: 100px;

    background-color: #F4870C;
    /* background-color: red; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* border-bottom: 4px solid red; */
}

.header_laranja>ul {
    width: 20%;
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
    /* gap: 100px; */
}

.header_laranja>ul>li>a {
    font-size: 22px;
    letter-spacing: 1px;
    color: #6116DB;
    text-decoration: none;
}

.margin_header {
    margin-left: 10px;
}

.header_laranja>.logotipo_header {
    width: 90px;
    margin: 0px 5%;
}

.menuHamburguer {
    background: none;
    border: none;
}

.header_laranja>.menuHamburguer,
.menuX {
    display: none;
    cursor: pointer;
}

.menu_mobile {
    display: none;
}

.abrirMenu {
    display: flex;
}

.fecharMenu {
    display: none;
}

/* HEADER FINALIZADO */

/* BANNER COMEÇADO */

#banner {
    height: 74vh;

    background-image: url(img/FundoHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.titulo_banner {
    height: 100%;
    width: 472px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.caixa_texto {
    width: 500px;
    height: 90%;
    display: flex;
    align-items: center;
}

.titulo>h1 {
    width: 91%;
    height: 160px;

    display: flex;
    align-items: center;

    color: var(--roxoPrincipal);
    font-size: 50px;
    font-family: "Hyperjump extrabold", "sans serif";

    margin-left: 60px;

}

.titulo>p {
    width: 71%;

    color: var(--roxoPrincipal);
    font-size: 35px;
    font-family: "Hyperjump regular", "sans serif";

    display: flex;
    align-items: center;

    margin-left: 60px;
}

.imagem_banner{
    width: 900px;
    background-color: red;
    margin-left: 300px;
    margin-top: 180px;


}

/* RESPONSIVIDADE */

/* 

================================================
Lembre-se que a responsividade tem que ser do MAIOR PARA O MENOR

NÃO coloque uma tela de 975px abaixo de uma tela de 768px 
O número que for maior sempre fica acima do número que for menor
Se for o contrário, pode haver erro no código
================================================

================================================
A responsividade abaixo é somente o Header

Quando for continuar fazendo o layout responsivo do site, fique atenta aos tamanhos de tela que já estão aqui
Ai você só adiciona no grupo de media screen os códigos das outras seções, ok?

Basicamente, não precisa apagar nada, é só ir adicionando os códigos se precisar
================================================

♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡
♡♡♡♡♡♡♡♡♡♡♡♡ TE AMO GATINHA ♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡
♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡

*/

@media screen and (max-width: 1100px) {
    .header_laranja>ul {
        width: 30%;
    }

}

@media screen and (max-width: 975px) {
    .header_laranja>img {
        margin: 0px 2%;
    }
}

@media screen and (max-width: 800px) {
    .header_roxo {
        display: flex;
        justify-content: center;
    }

    .header_roxo>button {
        display: none;
    }

    .sociais_header {
        margin-left: unset;
    }

    .sociais_header>svg {
        width: 35px;
    }

    .header_laranja {
        display: flex;
        justify-content: space-between;
    }

    .header_laranja>ul {
        display: none;
    }

    .header_laranja>.logotipo_header {
        margin-left: 70px;
        width: 80px;
    }

    .header_laranja>.menuHamburguer {
        display: unset;
        width: 40px;

        margin-right: 30px;
    }

    .menu_mobile {
        /* display: flex; */

        width: 250px;
        height: 50vh;

        position: absolute;
        right: 10px;

        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        background-color: rgba(97, 22, 219, 0.5);
        border: none;
        border-radius: 12px;
        backdrop-filter: blur(12px) opacity(70%) saturate(100%) drop-shadow(40px 27px 100px rgba(0, 0, 0, 1));
        -webkit-backdrop-filter: blur(12px) opacity(70%) saturate(100%) drop-shadow(40px 27px 100px rgba(0, 0, 0, 1));
    }

    .menu_mobile>ul {
        height: 20vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .menu_mobile>ul>li>a {
        color: white;
        letter-spacing: 1px;
        text-decoration: none;
        font-size: 22px;
    }

    .menu_mobile>button {
        height: 45px;
        width: 150px;

        border: none;
        border-radius: 10px;

        font-size: 18px;
        color: white;
        letter-spacing: 1px;
        background-color: #F4870C;
        text-transform: uppercase;
    }

    #banner {
        background-image: url(img/FundoHeaderMobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
    }
}

@media screen and (max-width: 768px) {

    .header_laranja>.logotipo_header {
        margin-left: 50px;
    }

}